In [88]:
import pandas as pd
import numpy as np

In [89]:
# 2019년 서울시 기간별_일평균_대기환경 데이터
# http://data.seoul.go.kr/dataList/OA-2220/S/1/datasetView.do#
df2019 =  pd.read_csv("C:/Users/admin/Downloads/기간별_일평균_대기환경_정보_2019년.csv", encoding='euc-kr')

In [90]:
## 2018년 서울시 기간별_일평균_대기환경 데이터
df2018 = pd.read_csv("C:/Users/admin/Downloads/기간별_일평균_대기환경_정보_2018년.csv", encoding='euc-kr')

In [91]:
## 2017년 서울시 기간별_일평균_대기환경 데이터
df2017 = pd.read_excel("C:/Users/admin/Downloads/기간별_일평균_대기환경_정보_2017년.xlsx")

In [92]:
## 2016년 서울시 기간별_일평균_대기환경 데이터
df2016 = pd.read_excel("C:/Users/admin/Downloads/기간별_일평균_대기환경_정보_2016년.xlsx")

In [93]:
# 각 연도별 데이터 info 확인
df2019.info()
print("==========================================================")
df2018.info()
print("==========================================================")
df2017.info()
print("==========================================================")
df2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8896 entries, 0 to 8895
Data columns (total 11 columns):
측정일자            8896 non-null int64
권역코드            8896 non-null int64
권역명             8896 non-null object
측정소코드           8896 non-null int64
측정소명            8896 non-null object
미세먼지(㎍/㎥)       8896 non-null int64
오존(ppm)         8896 non-null int64
이산화질소농도(ppm)    8896 non-null float64
일산화탄소농도(ppm)    8896 non-null float64
아황산가스농도(ppm)    8896 non-null float64
초미세먼지(㎍/㎥)      8896 non-null float64
dtypes: float64(4), int64(5), object(2)
memory usage: 764.6+ KB
==========================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7625 entries, 0 to 7624
Data columns (total 11 columns):
측정일자            7625 non-null int64
권역코드            7625 non-null int64
권역명             7625 non-null object
측정소코드           7625 non-null int64
측정소명            7625 non-null object
미세먼지(㎍/㎥)       7625 non-null int64
초미세먼지(㎍/㎥)      7625 non-null int64
오존(ppm)         7625 non-null float64
이산화질소농도(ppm)    7625 non-null float64
일산화탄소농도(ppm)    7625 non-null float64
아황산가스농도(ppm)    7625 non-null float64
dtypes: float64(4), int64(5), object(2)
memory usage: 655.4+ KB
==========================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9125 entries, 0 to 9124
Data columns (total 9 columns):
측정일자            9125 non-null int64
권역명             9125 non-null object
측정소명            9125 non-null object
미세먼지(㎍/㎥)       9125 non-null int64
초미세먼지(㎍/㎥)      9125 non-null int64
오존(ppm)         9125 non-null float64
이산화질소농도(ppm)    9125 non-null float64
일산화탄소농도(ppm)    9125 non-null float64
아황산가스농도(ppm)    9125 non-null float64
dtypes: float64(4), int64(3), object(2)
memory usage: 641.7+ KB
==========================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9148 entries, 0 to 9147
Data columns (total 9 columns):
측정일자            9148 non-null int64
권역명             9148 non-null object
측정소명            9148 non-null object
미세먼지(㎍/㎥)       9148 non-null int64
초미세먼지(㎍/㎥)      9148 non-null int64
오존(ppm)         9148 non-null float64
이산화질소농도(ppm)    9148 non-null float64
일산화탄소농도(ppm)    9148 non-null float64
아황산가스농도(ppm)    9148 non-null float64
dtypes: float64(4), int64(3), object(2)
memory usage: 643.3+ KB

In [94]:
# 필요한 컬럼만 고르고 나머지 컬럼 drop
print(df2019.columns)
print(df2018.columns)
print(df2017.columns)
print(df2016.columns)

Index(['측정일자', '권역코드', '권역명', '측정소코드', '측정소명', '미세먼지(㎍/㎥)', '오존(ppm)',
       '이산화질소농도(ppm)', '일산화탄소농도(ppm)', '아황산가스농도(ppm)', '초미세먼지(㎍/㎥)'],
      dtype='object')
Index(['측정일자', '권역코드', '권역명', '측정소코드', '측정소명', '미세먼지(㎍/㎥)', '초미세먼지(㎍/㎥)',
       '오존(ppm)', '이산화질소농도(ppm)', '일산화탄소농도(ppm)', '아황산가스농도(ppm)'],
      dtype='object')
Index(['측정일자', '권역명', '측정소명', '미세먼지(㎍/㎥)', '초미세먼지(㎍/㎥)', '오존(ppm)',
       '이산화질소농도(ppm)', '일산화탄소농도(ppm)', '아황산가스농도(ppm)'],
      dtype='object')
Index(['측정일자', '권역명', '측정소명', '미세먼지(㎍/㎥)', '초미세먼지(㎍/㎥)', '오존(ppm)',
       '이산화질소농도(ppm)', '일산화탄소농도(ppm)', '아황산가스농도(ppm)'],
      dtype='object')

In [95]:
## 2019년 권역코드, 측정소코드 컬럼 drop
df2019 = df2019.drop(df2019[['권역코드', '측정소코드']], axis = 1)

In [96]:
## 2019년 권역코드, 측정소코드 컬럼 drop
df2018 = df2018.drop(df2018[['권역코드', '측정소코드']], axis = 1)

In [97]:
# 컬럼 drop 후 컬럼 개수 확인
print(df2019.columns, "-----> 컬럼 수 : " , df2019.columns.size)
print(df2018.columns, "-----> 컬럼 수 : " , df2018.columns.size)
print(df2017.columns, "-----> 컬럼 수 : " , df2017.columns.size)
print(df2016.columns, "-----> 컬럼 수 : " , df2016.columns.size)

Index(['측정일자', '권역명', '측정소명', '미세먼지(㎍/㎥)', '오존(ppm)', '이산화질소농도(ppm)',
       '일산화탄소농도(ppm)', '아황산가스농도(ppm)', '초미세먼지(㎍/㎥)'],
      dtype='object') -----> 컬럼 수 :  9
Index(['측정일자', '권역명', '측정소명', '미세먼지(㎍/㎥)', '초미세먼지(㎍/㎥)', '오존(ppm)',
       '이산화질소농도(ppm)', '일산화탄소농도(ppm)', '아황산가스농도(ppm)'],
      dtype='object') -----> 컬럼 수 :  9
Index(['측정일자', '권역명', '측정소명', '미세먼지(㎍/㎥)', '초미세먼지(㎍/㎥)', '오존(ppm)',
       '이산화질소농도(ppm)', '일산화탄소농도(ppm)', '아황산가스농도(ppm)'],
      dtype='object') -----> 컬럼 수 :  9
Index(['측정일자', '권역명', '측정소명', '미세먼지(㎍/㎥)', '초미세먼지(㎍/㎥)', '오존(ppm)',
       '이산화질소농도(ppm)', '일산화탄소농도(ppm)', '아황산가스농도(ppm)'],
      dtype='object') -----> 컬럼 수 :  9

In [98]:
# 데이터별 컬럼 순서 맞추기
# reindex() 사용
# 측정일자, 권역명, 측정소명, 미세먼지, 초미세먼지, 오존, 일산화탄소농도, 이산화질소농도, 아황산가스농도 순서로 변경
df2019 = df2019.reindex(columns=["측정일자", '권역명', '측정소명', '미세먼지(㎍/㎥)', '초미세먼지(㎍/㎥)', '오존(ppm)', 
                    '일산화탄소농도(ppm)', '이산화질소농도(ppm)', '아황산가스농도(ppm)'])
df2018 = df2018.reindex(columns=["측정일자", '권역명', '측정소명', '미세먼지(㎍/㎥)', '초미세먼지(㎍/㎥)', '오존(ppm)', 
                    '일산화탄소농도(ppm)', '이산화질소농도(ppm)', '아황산가스농도(ppm)'])
df2017 = df2017.reindex(columns=["측정일자", '권역명', '측정소명', '미세먼지(㎍/㎥)', '초미세먼지(㎍/㎥)', '오존(ppm)', 
                    '일산화탄소농도(ppm)', '이산화질소농도(ppm)', '아황산가스농도(ppm)'])
df2016 = df2016.reindex(columns=["측정일자", '권역명', '측정소명', '미세먼지(㎍/㎥)', '초미세먼지(㎍/㎥)', '오존(ppm)', 
                    '일산화탄소농도(ppm)', '이산화질소농도(ppm)', '아황산가스농도(ppm)'])

In [99]:
# 컬럼 변경 후 컬럼 확인
print(df2019.columns)
print(df2018.columns)
print(df2017.columns)
print(df2016.columns)

Index(['측정일자', '권역명', '측정소명', '미세먼지(㎍/㎥)', '초미세먼지(㎍/㎥)', '오존(ppm)',
       '일산화탄소농도(ppm)', '이산화질소농도(ppm)', '아황산가스농도(ppm)'],
      dtype='object')
Index(['측정일자', '권역명', '측정소명', '미세먼지(㎍/㎥)', '초미세먼지(㎍/㎥)', '오존(ppm)',
       '일산화탄소농도(ppm)', '이산화질소농도(ppm)', '아황산가스농도(ppm)'],
      dtype='object')
Index(['측정일자', '권역명', '측정소명', '미세먼지(㎍/㎥)', '초미세먼지(㎍/㎥)', '오존(ppm)',
       '일산화탄소농도(ppm)', '이산화질소농도(ppm)', '아황산가스농도(ppm)'],
      dtype='object')
Index(['측정일자', '권역명', '측정소명', '미세먼지(㎍/㎥)', '초미세먼지(㎍/㎥)', '오존(ppm)',
       '일산화탄소농도(ppm)', '이산화질소농도(ppm)', '아황산가스농도(ppm)'],
      dtype='object')

In [100]:
# 컬럼명 영문명으로 변경
# ["측정일자", '권역명', '측정소명', '미세먼지(㎍/㎥)', '초미세먼지(㎍/㎥)', '오존(ppm)', '일산화탄소농도(ppm)', '이산화질소농도(ppm)', '아황산가스농도(ppm)']
# --> ["date", 'region', 'district', 'fine_dust','super_fine_dust', 'oz', 'co', 'co2', 'so2']
df2019.columns = ["date", 'region', 'district', 'fine_dust','super_fine_dust', 'oz', 'co', 'co2', 'so2']
df2018.columns = ["date", 'region', 'district', 'fine_dust','super_fine_dust', 'oz', 'co', 'co2', 'so2']
df2017.columns = ["date", 'region', 'district', 'fine_dust','super_fine_dust', 'oz', 'co', 'co2', 'so2']
df2016.columns = ["date", 'region', 'district', 'fine_dust','super_fine_dust', 'oz', 'co', 'co2', 'so2']

In [101]:
## 변경된 데이터 앞부분 확인
print(df2019.head(3) , "\n")
print(df2018.head(3) , "\n")
print(df2017.head(3) , "\n")
print(df2016.head(3) , "\n")

       date region district  fine_dust  super_fine_dust  oz     co    co2  so2
0  20191231    도심권       중구         26            0.002  18  0.012  0.023  0.4
1  20191231    도심권      종로구         27            0.003  19  0.015  0.021  0.4
2  20191231    도심권      용산구         14            0.003  15  0.015  0.020  0.4

       date region district  fine_dust  super_fine_dust     oz   co    co2  \
0  20180101    도심권       중구         32               18  0.015  0.5  0.028
1  20180101    동남권      송파구         52               23  0.013  0.7  0.028
2  20180101    동남권      서초구         49               24  0.011  0.6  0.031

     so2
0  0.005
1  0.004
2  0.005

       date region district  fine_dust  super_fine_dust     oz   co    co2  \
0  20170101    도심권       중구         81               64  0.003  1.0  0.057
1  20170101    도심권      용산구         77               73  0.003  1.1  0.039
2  20170101    도심권      종로구         82               67  0.003  1.0  0.054

     so2
0  0.005
1  0.005
2  0.004

       date region district  fine_dust  super_fine_dust     oz   co    co2  \
0  20160101    동북권      광진구         85               64  0.004  0.9  0.046
1  20160101    동남권      강남구         73               44  0.006  0.8  0.047
2  20160101    서남권      강서구         66               38  0.005  0.9  0.048

     so2
0  0.006
1  0.006
2  0.006

In [102]:
# df2019도 date 오름차순으로 행 순서 맞추기(원래 data는 오름차순)
df2019 = df2019.sort_values('date').reset_index(drop=True)

In [103]:
df2019.head()

       date region district  fine_dust  super_fine_dust  oz     co    co2  so2
0  20190101    동남권      강동구         43            0.005  32  0.040  0.010  0.8
1  20190101    도심권       중구         38            0.003  26  0.032  0.019  0.6
2  20190101    도심권      종로구         35            0.004  22  0.033  0.016  0.7
3  20190101    도심권      용산구         31            0.003  25  0.033  0.013  0.6
4  20190101    서북권      은평구         34            0.005  23  0.024  0.019  0.9

In [104]:
# 컬럼 정리후 각 연도별 데이터 info 확인
df2019.info()
print("==========================================================")
df2018.info()
print("==========================================================")
df2017.info()
print("==========================================================")
df2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8896 entries, 0 to 8895
Data columns (total 9 columns):
date               8896 non-null int64
region             8896 non-null object
district           8896 non-null object
fine_dust          8896 non-null int64
super_fine_dust    8896 non-null float64
oz                 8896 non-null int64
co                 8896 non-null float64
co2                8896 non-null float64
so2                8896 non-null float64
dtypes: float64(4), int64(3), object(2)
memory usage: 625.6+ KB
==========================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7625 entries, 0 to 7624
Data columns (total 9 columns):
date               7625 non-null int64
region             7625 non-null object
district           7625 non-null object
fine_dust          7625 non-null int64
super_fine_dust    7625 non-null int64
oz                 7625 non-null float64
co                 7625 non-null float64
co2                7625 non-null float64
so2                7625 non-null float64
dtypes: float64(4), int64(3), object(2)
memory usage: 536.3+ KB
==========================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9125 entries, 0 to 9124
Data columns (total 9 columns):
date               9125 non-null int64
region             9125 non-null object
district           9125 non-null object
fine_dust          9125 non-null int64
super_fine_dust    9125 non-null int64
oz                 9125 non-null float64
co                 9125 non-null float64
co2                9125 non-null float64
so2                9125 non-null float64
dtypes: float64(4), int64(3), object(2)
memory usage: 641.7+ KB
==========================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9148 entries, 0 to 9147
Data columns (total 9 columns):
date               9148 non-null int64
region             9148 non-null object
district           9148 non-null object
fine_dust          9148 non-null int64
super_fine_dust    9148 non-null int64
oz                 9148 non-null float64
co                 9148 non-null float64
co2                9148 non-null float64
so2                9148 non-null float64
dtypes: float64(4), int64(3), object(2)
memory usage: 643.3+ KB

In [105]:
# 타입변경
# 'date' 컬럼 int 타입에서  datetime 타입으로 변경
## (참고) to_datetime은 str 형태에서 변경 가능하기 때문에 int -> str -> to_datetime()
df2019['date'] = pd.to_datetime(df2019['date'].astype('str'))
df2018['date'] = pd.to_datetime(df2018['date'].astype('str'))
df2017['date'] = pd.to_datetime(df2017['date'].astype('str'))
df2016['date'] = pd.to_datetime(df2016['date'].astype('str'))

In [106]:
# 타입변경 확인
print(df2019.date.dtype)
print(df2018.date.dtype)
print(df2017.date.dtype)
print(df2016.date.dtype)

datetime64[ns]
datetime64[ns]
datetime64[ns]
datetime64[ns]

In [107]:
# 결측치 확인 1. NA 값 확인
print("2019 NA 여부 \n", df2019.isna().sum())
print("==========================================================")
print("2018 NA 여부 \n",df2018.isna().sum())
print("==========================================================")
print("2017 NA 여부 \n",df2017.isna().sum())
print("==========================================================")
print("2016 NA 여부 \n",df2016.isna().sum())

2019 NA 여부
 date               0
region             0
district           0
fine_dust          0
super_fine_dust    0
oz                 0
co                 0
co2                0
so2                0
dtype: int64
==========================================================
2018 NA 여부
 date               0
region             0
district           0
fine_dust          0
super_fine_dust    0
oz                 0
co                 0
co2                0
so2                0
dtype: int64
==========================================================
2017 NA 여부
 date               0
region             0
district           0
fine_dust          0
super_fine_dust    0
oz                 0
co                 0
co2                0
so2                0
dtype: int64
==========================================================
2016 NA 여부
 date               0
region             0
district           0
fine_dust          0
super_fine_dust    0
oz                 0
co                 0
co2                0
so2                0
dtype: int64

In [108]:
# 결측치 확인 2. 일자별 빠진 날짜 확인
# 2019 결측치 확인
b = list(range(1, 32))
for i in range(1,13):
    for j in df2019.loc[df2019.date.dt.month == i,['date']].date.dt.day:
         if j in b:
            b.remove(j)
    print(b)
    b = list(range(1, 32))

[]
[29, 30, 31]
[9, 10, 11, 12, 13, 16, 17]
[31]
[]
[31]
[]
[]
[7, 8, 31]
[]
[31]
[]

---------------------------------
#### 2019년
- 3월 : 9, 10, 11, 12, 13, 16, 17
- 9월 : 7, 8
---------------------------------

In [109]:
# 2018 결측치 확인 
b = list(range(1, 32))
for i in range(1,13):
    for j in df2018.loc[df2018.date.dt.month == i,['date']].date.dt.day:
         if j in b:
            b.remove(j)
    print(b)
    b = list(range(1, 32))

[]
[17, 29, 30, 31]
[21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31]
[1, 2, 3, 4, 5, 6, 7, 8, 20, 31]
[18, 19, 22, 23, 24, 25, 26, 29, 30, 31]
[3, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 23, 24, 25, 27, 28, 29, 31]
[4, 5, 14, 15]
[]
[31]
[]
[17, 18, 31]
[]

---------------------------------
#### 2018년
- 2월 : 17, 29
- 3월 : 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31
- 4월 : 1, 2, 3, 4, 5, 6, 7, 8, 20
- 5월 : 18, 19, 22, 23, 24, 25, 26, 29, 30, 31
- 6월 : 3, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 23, 24, 25, 27, 28, 29, 31
- 7월 : 4, 5, 14, 15
- 11월 : 17, 18
---------------------------------

In [110]:
# 2017 결측치 확인 
b = list(range(1, 32))
for i in range(1,13):
    for j in df2017.loc[df2017.date.dt.month == i,['date']].date.dt.day:
         if j in b:
            b.remove(j)
    print(b)
    b = list(range(1, 32))

[]
[29, 30, 31]
[]
[31]
[]
[31]
[]
[]
[31]
[]
[31]
[]

---------------------------------
#### 2017년 
- 결측치 없음
---------------------------------

In [111]:
# 2016 결측치 확인 
b = list(range(1, 32))
for i in range(1,13):
    for j in df2016.loc[df2016.date.dt.month == i,['date']].date.dt.day:
         if j in b:
            b.remove(j)
    print(b)
    b = list(range(1, 32))

[]
[30, 31]
[]
[31]
[]
[31]
[]
[]
[31]
[]
[31]
[]

---------------------------------
#### 2016년
- 결측치 없음 / but, 2월이 29일까지
---------------------------------

In [112]:
# 결측치 확인 3. 전체 행 수를 25개구, 365로 나눠서 확인
# 2019, 2018은 빈 날짜를 채운 후 확인
# 2017
df2017.info()   # 총 row 9125
9125 / 25  # -> 365로 결측치 없음 확인

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9125 entries, 0 to 9124
Data columns (total 9 columns):
date               9125 non-null datetime64[ns]
region             9125 non-null object
district           9125 non-null object
fine_dust          9125 non-null int64
super_fine_dust    9125 non-null int64
oz                 9125 non-null float64
co                 9125 non-null float64
co2                9125 non-null float64
so2                9125 non-null float64
dtypes: datetime64[ns](1), float64(4), int64(2), object(2)
memory usage: 641.7+ KB

365.0

In [113]:
#2016
df2016.info() # 총 row 9148
9148 / 25  # -> 2016년 총 366일에 못 미침 --> 결측치 존재 --> 구별로 빈 데이터 확인

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9148 entries, 0 to 9147
Data columns (total 9 columns):
date               9148 non-null datetime64[ns]
region             9148 non-null object
district           9148 non-null object
fine_dust          9148 non-null int64
super_fine_dust    9148 non-null int64
oz                 9148 non-null float64
co                 9148 non-null float64
co2                9148 non-null float64
so2                9148 non-null float64
dtypes: datetime64[ns](1), float64(4), int64(2), object(2)
memory usage: 643.3+ KB

365.92

In [114]:
# 구(district)별로 데이터 개수 확인
df2016['date'].groupby(df2016['district']).count() # --> 양천구 2개 결측

district
강남구     366
강동구     366
강북구     366
강서구     366
관악구     366
광진구     366
구로구     366
금천구     366
노원구     366
도봉구     366
동대문구    366
동작구     366
마포구     366
서대문구    366
서초구     366
성동구     366
성북구     366
송파구     366
양천구     364
영등포구    366
용산구     366
은평구     366
종로구     366
중구      366
중랑구     366
Name: date, dtype: int64

In [115]:
# 양천구 2개 결측 확인을 위해 어떤 날짜에 양천구 결측치가 있는지 확인
q = df2016.loc[df2016.district == "양천구",['date']]
for i in range(1,13):
    print(i, "월: ", q.loc[q.date.dt.month == i,:].size)

1 월:  31
2 월:  27
3 월:  31
4 월:  30
5 월:  31
6 월:  30
7 월:  31
8 월:  31
9 월:  30
10 월:  31
11 월:  30
12 월:  31

-------
- 2월에 27개로 2일 간의 결측치가 있음을 확인
-----

In [116]:
# 양천구의 2월 data 확인
df2016.loc[(df2016.district == "양천구") & (df2016.date.dt.month == 2),['date','region']]

           date region
775  2016-02-01    서남권
815  2016-02-02    서남권
846  2016-02-03    서남권
868  2016-02-04    서남권
887  2016-02-05    서남권
915  2016-02-06    서남권
942  2016-02-07    서남권
960  2016-02-08    서남권
998  2016-02-09    서남권
1010 2016-02-10    서남권
1037 2016-02-11    서남권
1060 2016-02-12    서남권
1095 2016-02-13    서남권
1155 2016-02-16    서남권
1184 2016-02-17    서남권
1201 2016-02-18    서남권
1225 2016-02-19    서남권
1250 2016-02-20    서남권
1284 2016-02-21    서남권
1314 2016-02-22    서남권
1335 2016-02-23    서남권
1358 2016-02-24    서남권
1392 2016-02-25    서남권
1401 2016-02-26    서남권
1434 2016-02-27    서남권
1472 2016-02-28    서남권
1489 2016-02-29    서남권

----
- 2016년 양천구 2월 14, 15일 결측 확인
----

In [117]:
df2016.loc[(df2016.district == "양천구") & (df2016.date.dt.month == 2),['date','region']].index

Int64Index([ 775,  815,  846,  868,  887,  915,  942,  960,  998, 1010, 1037,
            1060, 1095, 1155, 1184, 1201, 1225, 1250, 1284, 1314, 1335, 1358,
            1392, 1401, 1434, 1472, 1489],
           dtype='int64')

In [118]:
# 결측치를 채우고 컬럼변수 추가?
# 컬럼 변수를 추가하고 결측치?

In [119]:
# 결측치 채우기
# 정리된 원본 데이터 복사
dust2019 = df2019.copy()
dust2018 = df2018.copy()
dust2017 = df2017.copy()
dust2016 = df2016.copy()

In [120]:
# check the copy data 
dust2019.info()
print("==========================================================")
dust2018.info()
print("==========================================================")
dust2017.info()
print("==========================================================")
dust2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8896 entries, 0 to 8895
Data columns (total 9 columns):
date               8896 non-null datetime64[ns]
region             8896 non-null object
district           8896 non-null object
fine_dust          8896 non-null int64
super_fine_dust    8896 non-null float64
oz                 8896 non-null int64
co                 8896 non-null float64
co2                8896 non-null float64
so2                8896 non-null float64
dtypes: datetime64[ns](1), float64(4), int64(2), object(2)
memory usage: 625.6+ KB
==========================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7625 entries, 0 to 7624
Data columns (total 9 columns):
date               7625 non-null datetime64[ns]
region             7625 non-null object
district           7625 non-null object
fine_dust          7625 non-null int64
super_fine_dust    7625 non-null int64
oz                 7625 non-null float64
co                 7625 non-null float64
co2                7625 non-null float64
so2                7625 non-null float64
dtypes: datetime64[ns](1), float64(4), int64(2), object(2)
memory usage: 536.3+ KB
==========================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9125 entries, 0 to 9124
Data columns (total 9 columns):
date               9125 non-null datetime64[ns]
region             9125 non-null object
district           9125 non-null object
fine_dust          9125 non-null int64
super_fine_dust    9125 non-null int64
oz                 9125 non-null float64
co                 9125 non-null float64
co2                9125 non-null float64
so2                9125 non-null float64
dtypes: datetime64[ns](1), float64(4), int64(2), object(2)
memory usage: 641.7+ KB
==========================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9148 entries, 0 to 9147
Data columns (total 9 columns):
date               9148 non-null datetime64[ns]
region             9148 non-null object
district           9148 non-null object
fine_dust          9148 non-null int64
super_fine_dust    9148 non-null int64
oz                 9148 non-null float64
co                 9148 non-null float64
co2                9148 non-null float64
so2                9148 non-null float64
dtypes: datetime64[ns](1), float64(4), int64(2), object(2)
memory usage: 643.3+ KB

In [121]:
# 2016년 양천구 2월 14일
insert14 = [["20160214","서남권","양천구"]]
insert14 = pd.DataFrame(insert14, columns=['date','region','district'])
insert14['date'] = pd.to_datetime(insert14.date)
insert14.info()
insert14

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 3 columns):
date        1 non-null datetime64[ns]
region      1 non-null object
district    1 non-null object
dtypes: datetime64[ns](1), object(2)
memory usage: 152.0+ bytes

        date region district
0 2016-02-14    서남권      양천구

In [122]:
# 2016년 2월 15일 채우기
insert15 = [["20160215","서남권","양천구"]]
insert15 = pd.DataFrame(insert15, columns=['date','region','district'])
insert15['date'] = pd.to_datetime(insert15.date)
insert15.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 3 columns):
date        1 non-null datetime64[ns]
region      1 non-null object
district    1 non-null object
dtypes: datetime64[ns](1), object(2)
memory usage: 152.0+ bytes

In [123]:
dust2016 = dust2016.append(insert14, ignore_index=True)
dust2016 = dust2016.append(insert15, ignore_index=True)

In [124]:
dust2016 = dust2016.sort_values('date')

In [125]:
dust2016 = dust2016.sort_values('date').reset_index(drop = True)
dust2016 =dust2016.reindex(columns = ["date", 'region', 'district', 'fine_dust','super_fine_dust', 'oz', 'co', 'co2', 'so2'])

In [126]:
dust2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9150 entries, 0 to 9149
Data columns (total 9 columns):
date               9150 non-null datetime64[ns]
region             9150 non-null object
district           9150 non-null object
fine_dust          9148 non-null float64
super_fine_dust    9148 non-null float64
oz                 9148 non-null float64
co                 9148 non-null float64
co2                9148 non-null float64
so2                9148 non-null float64
dtypes: datetime64[ns](1), float64(6), object(2)
memory usage: 643.5+ KB

In [127]:
# 2019년 누락된 날짜 데이터 채우기
# 3월 : 9, 10, 11, 12, 13, 16, 17
# 9월 : 7, 8

In [128]:
# 2019년 9월 결측일자 채우기

In [129]:
# date column -- 7일, 8일
l1 = []
for i in range(7,9):
    l1.extend(["2019090{}".format(i)] * 25)

In [130]:
# region column -- 서남권, 동남권....
d1 = dust2019.iloc[:25,1:2]
l2 = [d1.region[i] for i in range(25)]
l2 = l2 * 2

In [131]:
# date column -- 구
d2 = dust2019.iloc[:25,2:3]
l3 = [d2.district[i] for i in range(25)] 
l3 = l3 * 2

In [132]:
temp9 = pd.DataFrame([l1,l2,l3]).T
temp9.columns = ['date', 'region', 'district']

In [133]:
temp9.date = pd.to_datetime(temp9.date)

In [134]:
dust2019 = dust2019.append(temp9, ignore_index=True)
dust2019 = dust2019.sort_values('date').reset_index(drop = True)
dust2019 = dust2019.reindex(columns = ["date", 'region', 'district', 'fine_dust','super_fine_dust', 'oz', 'co', 'co2', 'so2'])

In [135]:
# 3월 : 9, 10, 11, 12, 13, 16, 17

In [136]:
# date column --9, 10, 11, 12, 13
l1 = []
for i in range(9,14):
    if i == 9:
        l1.extend(["2019030{}".format(i)] * 25)
    else:
        l1.extend(["201903{}".format(i)] * 25)
    

# region column -- 서남권, 동남권....
d1 = dust2019.iloc[:25,1:2]
l2 = [d1.region[i] for i in range(25)]
l2 = l2 * 5


# date column -- 구
d2 = dust2019.iloc[:25,2:3]
l3 = [d2.district[i] for i in range(25)] 
l3 = l3 * 5

In [137]:
temp3_1 = pd.DataFrame([l1,l2,l3]).T
temp3_1.columns = ['date', 'region', 'district']

temp3_1.date = pd.to_datetime(temp3_1.date)

dust2019 = dust2019.append(temp3_1, ignore_index=True)
dust2019 = dust2019.sort_values('date').reset_index(drop = True)
dust2019 = dust2019.reindex(columns = ["date", 'region', 'district', 'fine_dust','super_fine_dust', 'oz', 'co', 'co2', 'so2'])

In [138]:
# date column --16, 17
l1 = []
for i in range(16,18):
    if i <= 9:
        l1.extend(["2019030{}".format(i)] * 25)
    else:
        l1.extend(["201903{}".format(i)] * 25)
    

# region column -- 서남권, 동남권....
d1 = dust2019.iloc[:25,1:2]
l2 = [d1.region[i] for i in range(25)]
l2 = l2 * 2


# date column -- 구
d2 = dust2019.iloc[:25,2:3]
l3 = [d2.district[i] for i in range(25)] 
l3 = l3 * 2

In [139]:
temp3_2 = pd.DataFrame([l1,l2,l3]).T
temp3_2.columns = ['date', 'region', 'district']

temp3_2.date = pd.to_datetime(temp3_2.date)

dust2019 = dust2019.append(temp3_2, ignore_index=True)
dust2019 = dust2019.sort_values('date').reset_index(drop = True)
dust2019 = dust2019.reindex(columns = ["date", 'region', 'district', 'fine_dust','super_fine_dust', 'oz', 'co', 'co2', 'so2'])

In [140]:
dust2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9121 entries, 0 to 9120
Data columns (total 9 columns):
date               9121 non-null datetime64[ns]
region             9121 non-null object
district           9121 non-null object
fine_dust          8896 non-null float64
super_fine_dust    8896 non-null float64
oz                 8896 non-null float64
co                 8896 non-null float64
co2                8896 non-null float64
so2                8896 non-null float64
dtypes: datetime64[ns](1), float64(6), object(2)
memory usage: 641.4+ KB

----
- 빈 날짜를 모두 채우고도 9125(25*365) 맞지 않음
- 따라서 구별로 결측치가 있을 것임을 알 수 있음
---

In [141]:
dust2019['date'].groupby(dust2019['district']).count() # --> 동대문구, 중랑구 2개씩 결측

district
강남구     365
강동구     365
강북구     365
강서구     365
관악구     365
광진구     365
구로구     365
금천구     365
노원구     365
도봉구     365
동대문구    363
동작구     365
마포구     365
서대문구    365
서초구     365
성동구     365
성북구     365
송파구     365
양천구     365
영등포구    365
용산구     365
은평구     365
종로구     365
중구      365
중랑구     363
Name: date, dtype: int64

In [142]:
# 동대문구 2개 결측 확인을 위해 어떤 날짜에 동대문구 결측치가 있는지 확인
q = dust2019.loc[dust2019.district == "동대문구",['date']]
for i in range(1,13):
    print(i, "월: ", q.loc[q.date.dt.month == i,:].size) # 동대문구 10월에 2개의 결측치가 있음을 확인

1 월:  31
2 월:  28
3 월:  31
4 월:  30
5 월:  31
6 월:  30
7 월:  31
8 월:  31
9 월:  30
10 월:  29
11 월:  30
12 월:  31

In [143]:
# 동대문구 10월 data 확인
dust2019.loc[(dust2019.district == "동대문구") & (dust2019.date.dt.month == 10),['date','region']]
# 10월 9,10일에 결측치 있음을 확인

           date region
6843 2019-10-01    동북권
6867 2019-10-02    동북권
6879 2019-10-03    동북권
6913 2019-10-04    동북권
6937 2019-10-05    동북권
6960 2019-10-06    동북권
6999 2019-10-07    동북권
7015 2019-10-08    동북권
7087 2019-10-11    동북권
7098 2019-10-12    동북권
7140 2019-10-13    동북권
7149 2019-10-14    동북권
7193 2019-10-15    동북권
7218 2019-10-16    동북권
7234 2019-10-17    동북권
7259 2019-10-18    동북권
7274 2019-10-19    동북권
7320 2019-10-20    동북권
7323 2019-10-21    동북권
7364 2019-10-22    동북권
7377 2019-10-23    동북권
7422 2019-10-24    동북권
7440 2019-10-25    동북권
7448 2019-10-26    동북권
7484 2019-10-27    동북권
7521 2019-10-28    동북권
7524 2019-10-29    동북권
7569 2019-10-30    동북권
7577 2019-10-31    동북권

In [144]:
# 2019년 동대문구 10월 9일
insert09 = [["20191009","동북권","동대문구"]]
insert09 = pd.DataFrame(insert09, columns=['date','region','district'])
insert09['date'] = pd.to_datetime(insert09.date)

# 2019년 동대문구 10월 10일
insert10 = [["20191010","동북권","동대문구"]]
insert10 = pd.DataFrame(insert10, columns=['date','region','district'])
insert10['date'] = pd.to_datetime(insert10.date)


dust2019 = dust2019.append(insert09, ignore_index=True)
dust2019 = dust2019.append(insert10, ignore_index=True)

dust2019 = dust2019.sort_values('date').reset_index(drop = True)
dust2019 =dust2019.reindex(columns = ["date", 'region', 'district', 'fine_dust','super_fine_dust', 'oz', 'co', 'co2', 'so2'])

In [145]:
# 같은 방법으로 중랑구 확인

In [146]:
# 중랑구 2개 결측 확인을 위해 어떤 월에 중랑구 결측치가 있는지 확인
q = dust2019.loc[dust2019.district == "중랑구",['date']]
for i in range(1,13):
    print(i, "월: ", q.loc[q.date.dt.month == i,:].size) # 중랑구 12월에 2개의 결측치가 있음을 확인

1 월:  31
2 월:  28
3 월:  31
4 월:  30
5 월:  31
6 월:  30
7 월:  31
8 월:  31
9 월:  30
10 월:  31
11 월:  30
12 월:  29

In [147]:
# 중랑구 12월 data 확인
dust2019.loc[(dust2019.district == "중랑구") & (dust2019.date.dt.month == 12),['date','region']]
# 12월 7,8일에 결측치 있음을 확인

           date region
8371 2019-12-01    동북권
8378 2019-12-02    동북권
8401 2019-12-03    동북권
8437 2019-12-04    동북권
8472 2019-12-05    동북권
8492 2019-12-06    동북권
8569 2019-12-09    동북권
8579 2019-12-10    동북권
8608 2019-12-11    동북권
8635 2019-12-12    동북권
8654 2019-12-13    동북권
8697 2019-12-14    동북권
8701 2019-12-15    동북권
8727 2019-12-16    동북권
8756 2019-12-17    동북권
8791 2019-12-18    동북권
8815 2019-12-19    동북권
8831 2019-12-20    동북권
8855 2019-12-21    동북권
8880 2019-12-22    동북권
8906 2019-12-23    동북권
8933 2019-12-24    동북권
8948 2019-12-25    동북권
8978 2019-12-26    동북권
9015 2019-12-27    동북권
9031 2019-12-28    동북권
9050 2019-12-29    동북권
9086 2019-12-30    동북권
9100 2019-12-31    동북권

In [148]:
# 2019년 중랑구 12월 7일
insert07 = [["20191207","동북권","중랑구"]]
insert07 = pd.DataFrame(insert07, columns=['date','region','district'])
insert07['date'] = pd.to_datetime(insert07.date)

# 2019년 중랑구 12월 8일
insert08 = [["20191208","동북권","중랑구"]]
insert08 = pd.DataFrame(insert08, columns=['date','region','district'])
insert08['date'] = pd.to_datetime(insert08.date)


dust2019 = dust2019.append(insert07, ignore_index=True)
dust2019 = dust2019.append(insert08, ignore_index=True)

dust2019 = dust2019.sort_values('date').reset_index(drop = True)
dust2019 =dust2019.reindex(columns = ["date", 'region', 'district', 'fine_dust','super_fine_dust', 'oz', 'co', 'co2', 'so2'])

In [149]:
dust2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9125 entries, 0 to 9124
Data columns (total 9 columns):
date               9125 non-null datetime64[ns]
region             9125 non-null object
district           9125 non-null object
fine_dust          8896 non-null float64
super_fine_dust    8896 non-null float64
oz                 8896 non-null float64
co                 8896 non-null float64
co2                8896 non-null float64
so2                8896 non-null float64
dtypes: datetime64[ns](1), float64(6), object(2)
memory usage: 641.7+ KB

In [150]:
dust2019.head()
dust2019.tail()

,date,region,district,fine_dust,super_fine_dust,oz,co,co2,so2
9120,2019-12-31,동북권,중랑구,24.0,0.003,12.0,0.017,0.020,0.4
9121,2019-12-31,서북권,마포구,22.0,0.002,12.0,0.017,0.019,0.4
9122,2019-12-31,서북권,서대문구,23.0,0.002,9.0,0.013,0.023,0.5
9123,2019-12-31,서남권,구로구,20.0,0.003,14.0,0.014,0.027,0.2
9124,2019-12-31,동북권,강북구,32.0,0.002,17.0,0.021,0.023,0.3

In [151]:
## 결측치 채우기
## 2016년 결측치 2개
dust2016[dust2016['super_fine_dust'].isnull()]

           date region district  fine_dust  super_fine_dust  oz  co  co2  so2
1114 2016-02-14    서남권      양천구        NaN              NaN NaN NaN  NaN  NaN
1144 2016-02-15    서남권      양천구        NaN              NaN NaN NaN  NaN  NaN

In [152]:
#결측치를 채우기 위해 NA 근처의 값을 탐색 -- 양천구의 2월 데이터 확인
dust2016.loc[(dust2016.district == "양천구") & (dust2016.date.dt.month == 2),:]

,date,region,district,fine_dust,super_fine_dust,oz,co,co2,so2
775,2016-02-01,서남권,양천구,0.0,0.0,0.000,0.0,0.000,0.000
816,2016-02-02,서남권,양천구,0.0,0.0,0.000,0.0,0.000,0.000
846,2016-02-03,서남권,양천구,0.0,0.0,0.000,0.0,0.000,0.000
867,2016-02-04,서남권,양천구,0.0,0.0,0.000,0.0,0.000,0.000
884,2016-02-05,서남권,양천구,0.0,0.0,0.000,0.0,0.000,0.000
918,2016-02-06,서남권,양천구,0.0,0.0,0.000,0.0,0.000,0.000
942,2016-02-07,서남권,양천구,0.0,0.0,0.000,0.0,0.000,0.000
959,2016-02-08,서남권,양천구,0.0,0.0,0.000,0.0,0.000,0.000
998,2016-02-09,서남권,양천구,0.0,0.0,0.000,0.0,0.000,0.000
1006,2016-02-10,서남권,양천구,0.0,0.0,0.000,0.0,0.000,0.000
1037,2016-02-11,서남권,양천구,0.0,0.0,0.000,0.0,0.000,0.000
1061,2016-02-12,서남권,양천구,0.0,0.0,0.000,0.0,0.000,0.000
1099,2016-02-13,서남권,양천구,0.0,0.0,0.000,0.0,0.000,0.000
1114,2016-02-14,서남권,양천구,NaN,NaN,NaN,NaN,NaN,NaN
1144,2016-02-15,서남권,양천구,NaN,NaN,NaN,NaN,NaN,NaN
1160,2016-02-16,서남권,양천구,31.0,19.0,0.019,0.5,0.028,0.004
1183,2016-02-17,서남권,양천구,36.0,16.0,0.015,0.6,0.036,0.005
1209,2016-02-18,서남권,양천구,49.0,26.0,0.022,0.6,0.033,0.006
1227,2016-02-19,서남권,양천구,88.0,48.0,0.005,1.0,0.049,0.006
1250,2016-02-20,서남권,양천구,44.0,19.0,0.016,0.6,0.035,0.004
1282,2016-02-21,서남권,양천구,27.0,13.0,0.026,0.4,0.022,0.004
1314,2016-02-22,서남권,양천구,43.0,19.0,0.012,0.6,0.041,0.004
1334,2016-02-23,서남권,양천구,55.0,30.0,0.020,0.5,0.028,0.004
1357,2016-02-24,서남권,양천구,33.0,18.0,0.021,0.5,0.028,0.004
1392,2016-02-25,서남권,양천구,54.0,33.0,0.020,0.6,0.036,0.006
1402,2016-02-26,서남권,양천구,55.0,35.0,0.024,0.6,0.036,0.006
1432,2016-02-27,서남권,양천구,74.0,49.0,0.019,0.7,0.041,0.006
1464,2016-02-28,서남권,양천구,50.0,32.0,0.015,0.7,0.044,0.004
1489,2016-02-29,서남권,양천구,54.0,31.0,0.027,0.5,0.023,0.004

In [153]:
# 확인결과 양천구에서 2월 1- 13일 동안 모든 변수의 측정값이 0으로 되어있는 것을 봤을때, 
# 양천구의 측정이 한동안 정확히 이뤄지지 않은 것을 짐작해볼 수 있음.
#  why?  -- 같은 권역인 서남권의 근처 구들의 미세먼지의 측정량과 비교했을 때, 양천구만 다른 변수 모두 0일 가능성은 낮기 때문
# 이에 누락됐던 날짜에도 측정이 잘 되지 않음을 가정하고, 똑같이 NA 값을 0으로 채우는 작업을 하기로 결정 
# 확인
        # dust2016.loc[(dust2016.district == "영등포구") & (dust2016.date.dt.month == 2),:]
        # dust2016.loc[(dust2016.district == "금천구") & (dust2016.date.dt.month == 2),:]
        # dust2016.loc[(dust2016.district == "구로구") & (dust2016.date.dt.month == 2),:]
dust2016.fillna(0, inplace = True)
dust2016.isna().sum()

date               0
region             0
district           0
fine_dust          0
super_fine_dust    0
oz                 0
co                 0
co2                0
so2                0
dtype: int64

In [154]:
# 2016년 결측치 채우기 완료
dust2016[dust2016['super_fine_dust'].isnull()]

Empty DataFrame
Columns: [date, region, district, fine_dust, super_fine_dust, oz, co, co2, so2]
Index: []

In [155]:
## 결측치 채우기
## 2019년

In [156]:
dust2019_1 = dust2019.copy()

In [157]:
#dt.weekday() # 0:월, 1:화, 2:수, 3:목, 4:금, 5:토, 6:일
#확인을 위해 요일 변수 추가
dust2019_1.date.dt.weekday.unique()

array([1, 2, 3, 4, 5, 6, 0], dtype=int64)

In [158]:
weekday2019 = np.where(dust2019.date.dt.weekday==0,'mon',
                    np.where(dust2019.date.dt.weekday==1,'tue',
                            np.where(dust2019.date.dt.weekday==2,'wed',
                                    np.where(dust2019.date.dt.weekday==3,'thu',
                                            np.where(dust2019.date.dt.weekday==4,'fri',
                                                    np.where(dust2019.date.dt.weekday==5,'sat','sun'))))))

In [159]:
# 2019년에 파생변수 넣기
dust2019['month'] = dust2019.date.dt.month
dust2019['weekday'] = weekday2019

In [160]:
dust2019.head()

,date,region,district,fine_dust,super_fine_dust,oz,co,co2,so2,month,weekday
0,2019-01-01,동남권,강동구,43.0,0.005,32.0,0.040,0.010,0.8,1,tue
1,2019-01-01,서남권,동작구,43.0,0.003,28.0,0.034,0.015,0.5,1,tue
2,2019-01-01,서남권,관악구,41.0,0.005,29.0,0.036,0.016,0.5,1,tue
3,2019-01-01,동북권,노원구,44.0,0.005,32.0,0.033,0.013,0.7,1,tue
4,2019-01-01,서남권,강서구,47.0,0.005,25.0,0.030,0.017,0.6,1,tue

In [161]:
# 오존과 초미세먼지 컬럼 이상 확인 -- 두 컬럼의 수치가 바뀐 것을 확인 (raw data 문제) / 임의로 두 컬럼을 바꿈
dust2019.columns = ['date', 'region','district', 'fine_dust', 'oz','super_fine_dust','co','co2',"so2","month",'weekday']
dust2019 = dust2019.reindex(columns = ["date", 'region', 'district', 'fine_dust','super_fine_dust', 'oz', 'co', 'co2', 'so2',"month",'weekday'])

In [162]:
# 확인
dust2019.head()

,date,region,district,fine_dust,super_fine_dust,oz,co,co2,so2,month,weekday
0,2019-01-01,동남권,강동구,43.0,32.0,0.005,0.040,0.010,0.8,1,tue
1,2019-01-01,서남권,동작구,43.0,28.0,0.003,0.034,0.015,0.5,1,tue
2,2019-01-01,서남권,관악구,41.0,29.0,0.005,0.036,0.016,0.5,1,tue
3,2019-01-01,동북권,노원구,44.0,32.0,0.005,0.033,0.013,0.7,1,tue
4,2019-01-01,서남권,강서구,47.0,25.0,0.005,0.030,0.017,0.6,1,tue

In [163]:
dust2019[dust2019['super_fine_dust'].isnull()]

,date,region,district,fine_dust,super_fine_dust,oz,co,co2,so2,month,weekday
1675,2019-03-09,서북권,마포구,NaN,NaN,NaN,NaN,NaN,NaN,3,sat
1676,2019-03-09,동북권,노원구,NaN,NaN,NaN,NaN,NaN,NaN,3,sat
1677,2019-03-09,서남권,강서구,NaN,NaN,NaN,NaN,NaN,NaN,3,sat
1678,2019-03-09,동북권,강북구,NaN,NaN,NaN,NaN,NaN,NaN,3,sat
1679,2019-03-09,동남권,강동구,NaN,NaN,NaN,NaN,NaN,NaN,3,sat
...,...,...,...,...,...,...,...,...,...,...,...
6274,2019-09-08,서북권,서대문구,NaN,NaN,NaN,NaN,NaN,NaN,9,sun
7037,2019-10-09,동북권,동대문구,NaN,NaN,NaN,NaN,NaN,NaN,10,wed
7069,2019-10-10,동북권,동대문구,NaN,NaN,NaN,NaN,NaN,NaN,10,thu
8504,2019-12-07,동북권,중랑구,NaN,NaN,NaN,NaN,NaN,NaN,12,sat
8536,2019-12-08,동북권,중랑구,NaN,NaN,NaN,NaN,NaN,NaN,12,sun

In [164]:
dust2019.loc[(dust2019.month == 3) & (dust2019['super_fine_dust'].isnull()), :]

,date,region,district,fine_dust,super_fine_dust,oz,co,co2,so2,month,weekday
1675,2019-03-09,서북권,마포구,NaN,NaN,NaN,NaN,NaN,NaN,3,sat
1676,2019-03-09,동북권,노원구,NaN,NaN,NaN,NaN,NaN,NaN,3,sat
1677,2019-03-09,서남권,강서구,NaN,NaN,NaN,NaN,NaN,NaN,3,sat
1678,2019-03-09,동북권,강북구,NaN,NaN,NaN,NaN,NaN,NaN,3,sat
1679,2019-03-09,동남권,강동구,NaN,NaN,NaN,NaN,NaN,NaN,3,sat
...,...,...,...,...,...,...,...,...,...,...,...
1895,2019-03-17,동북권,동대문구,NaN,NaN,NaN,NaN,NaN,NaN,3,sun
1896,2019-03-17,서북권,서대문구,NaN,NaN,NaN,NaN,NaN,NaN,3,sun
1897,2019-03-17,동남권,서초구,NaN,NaN,NaN,NaN,NaN,NaN,3,sun
1898,2019-03-17,동북권,성북구,NaN,NaN,NaN,NaN,NaN,NaN,3,sun
1899,2019-03-17,동북권,중랑구,NaN,NaN,NaN,NaN,NaN,NaN,3,sun

In [165]:
# 3월 : 9, 10, 11, 12, 13, 16, 17
# 9월 : 7, 8  
# 동대문구 10월 9,10 일에 결측치
# 중랑구 12월 7,8 일에 결측치

In [166]:
# 동대문구 10월 9,10일에 결측치 채우기 -- 앞 데이터 확인 후 0으로 채우기 결정
    # dust2019.loc[(dust2019.district == "동대문구") & (dust2019.date.dt.month == 10),:]
    
# dust2019_1.loc[(dust2019_1.district == '동대문구') & (dust2019_1.date == '2019-10-09'),:] = \
# dust2019_1.loc[(dust2019_1.district == '동대문구') & (dust2019_1.date == '2019-10-09'),:].fillna(0)

dust2019.loc[(dust2019.district == '동대문구') & (dust2019.date == '2019-10-09'),:] = \
dust2019.loc[(dust2019.district == '동대문구') & (dust2019.date == '2019-10-09'),:].fillna(0)
dust2019.loc[(dust2019.district == '동대문구') & (dust2019.date == '2019-10-10'),:] = \
dust2019.loc[(dust2019.district == '동대문구') & (dust2019.date == '2019-10-10'),:].fillna(0)

In [167]:
dust2019.loc[(dust2019.district == '동대문구') & (dust2019.month == 10),:]

,date,region,district,fine_dust,super_fine_dust,oz,co,co2,so2,month,weekday
6842,2019-10-01,동북권,동대문구,0.0,0.0,0.000,0.000,0.000,0.0,10,tue
6865,2019-10-02,동북권,동대문구,0.0,0.0,0.000,0.000,0.000,0.0,10,wed
6878,2019-10-03,동북권,동대문구,0.0,0.0,0.000,0.000,0.000,0.0,10,thu
6923,2019-10-04,동북권,동대문구,0.0,0.0,0.000,0.000,0.000,0.0,10,fri
6937,2019-10-05,동북권,동대문구,0.0,0.0,0.000,0.000,0.000,0.0,10,sat
6959,2019-10-06,동북권,동대문구,0.0,0.0,0.000,0.000,0.000,0.0,10,sun
6994,2019-10-07,동북권,동대문구,0.0,0.0,0.000,0.000,0.000,0.0,10,mon
7016,2019-10-08,동북권,동대문구,0.0,0.0,0.000,0.000,0.000,0.0,10,tue
7037,2019-10-09,동북권,동대문구,0.0,0.0,0.000,0.000,0.000,0.0,10,wed
7069,2019-10-10,동북권,동대문구,0.0,0.0,0.000,0.000,0.000,0.0,10,thu
7088,2019-10-11,동북권,동대문구,0.0,0.0,0.000,0.000,0.000,0.0,10,fri
7119,2019-10-12,동북권,동대문구,0.0,0.0,0.000,0.000,0.000,0.0,10,sat
7140,2019-10-13,동북권,동대문구,0.0,0.0,0.000,0.000,0.000,0.0,10,sun
7153,2019-10-14,동북권,동대문구,0.0,0.0,0.000,0.000,0.000,0.0,10,mon
7197,2019-10-15,동북권,동대문구,0.0,0.0,0.000,0.000,0.000,0.0,10,tue
7223,2019-10-16,동북권,동대문구,0.0,0.0,0.000,0.000,0.000,0.0,10,wed
7233,2019-10-17,동북권,동대문구,0.0,0.0,0.000,0.000,0.000,0.0,10,thu
7259,2019-10-18,동북권,동대문구,0.0,0.0,0.000,0.000,0.000,0.0,10,fri
7279,2019-10-19,동북권,동대문구,0.0,0.0,0.000,0.000,0.000,0.0,10,sat
7319,2019-10-20,동북권,동대문구,0.0,0.0,0.000,0.000,0.000,0.0,10,sun
7344,2019-10-21,동북권,동대문구,0.0,0.0,0.000,0.000,0.000,0.0,10,mon
7369,2019-10-22,동북권,동대문구,0.0,0.0,0.000,0.000,0.000,0.0,10,tue
7389,2019-10-23,동북권,동대문구,0.0,0.0,0.000,0.000,0.000,0.0,10,wed
7419,2019-10-24,동북권,동대문구,0.0,0.0,0.000,0.000,0.000,0.0,10,thu
7445,2019-10-25,동북권,동대문구,25.0,10.0,0.002,0.025,0.025,0.4,10,fri
7459,2019-10-26,동북권,동대문구,23.0,11.0,0.002,0.013,0.022,0.4,10,sat
7483,2019-10-27,동북권,동대문구,27.0,12.0,0.002,0.021,0.022,0.5,10,sun
7520,2019-10-28,동북권,동대문구,31.0,17.0,0.003,0.031,0.019,0.5,10,mon
7529,2019-10-29,동북권,동대문구,103.0,14.0,0.002,0.022,0.021,0.5,10,tue
7563,2019-10-30,동북권,동대문구,26.0,8.0,0.002,0.029,0.016,0.5,10,wed
7577,2019-10-31,동북권,동대문구,72.0,19.0,0.003,0.033,0.025,0.6,10,thu

In [168]:
# 중랑구 12월 7,8일에 결측치 -- 데이터 확인 후 중랑구 12월 평균 수치로 넣기로 결정
    # dust2019.loc[(dust2019.district == "중랑구") & (dust2019.date.dt.month == 12),:]
# 12월 중랑구 각 속성별 평균 구하기    
fine_mean = round(dust2019.loc[(dust2019.district == "중랑구") & (dust2019.date.dt.month == 12),:].fine_dust.mean(),0)
super_mean = round(dust2019.loc[(dust2019.district == "중랑구") & (dust2019.date.dt.month == 12),:].super_fine_dust.mean(),3)
oz_mean = round(dust2019.loc[(dust2019.district == "중랑구") & (dust2019.date.dt.month == 12),:].oz.mean(),3)
co_mean = round(dust2019.loc[(dust2019.district == "중랑구") & (dust2019.date.dt.month == 12),:].co.mean(),3)
co2_mean = round(dust2019.loc[(dust2019.district == "중랑구") & (dust2019.date.dt.month == 12),:].co2.mean(),3)
so2_mean = round(dust2019.loc[(dust2019.district == "중랑구") & (dust2019.date.dt.month == 12),:].so2.mean(),2)

In [169]:
# 평균 채우기
dust2019.iloc[8504,3:-2] = [fine_mean, super_mean, oz_mean, co_mean, co2_mean, so2_mean]
dust2019.iloc[8536,3:-2] = [fine_mean, super_mean, oz_mean, co_mean, co2_mean, so2_mean]

In [170]:
dust2019.loc[(dust2019.district == "중랑구") & (dust2019.date.dt.month == 12),:]

,date,region,district,fine_dust,super_fine_dust,oz,co,co2,so2,month,weekday
8356,2019-12-01,동북권,중랑구,44.0,24.000,0.003,0.044,0.005,0.70,12,sun
8391,2019-12-02,동북권,중랑구,22.0,9.000,0.003,0.018,0.022,0.40,12,mon
8415,2019-12-03,동북권,중랑구,31.0,13.000,0.003,0.042,0.008,0.60,12,tue
8437,2019-12-04,동북권,중랑구,30.0,12.000,0.003,0.032,0.020,0.50,12,wed
8458,2019-12-05,동북권,중랑구,21.0,8.000,0.003,0.017,0.032,0.40,12,thu
8478,2019-12-06,동북권,중랑구,33.0,12.000,0.003,0.026,0.012,0.50,12,fri
8504,2019-12-07,동북권,중랑구,42.0,22.552,0.003,0.034,0.012,0.62,12,sat
8536,2019-12-08,동북권,중랑구,42.0,22.552,0.003,0.034,0.012,0.62,12,sun
8554,2019-12-09,동북권,중랑구,75.0,40.000,0.004,0.051,0.005,0.60,12,mon
8599,2019-12-10,동북권,중랑구,83.0,49.000,0.005,0.056,0.009,0.90,12,tue
8622,2019-12-11,동북권,중랑구,98.0,54.000,0.003,0.033,0.020,0.80,12,wed
8637,2019-12-12,동북권,중랑구,27.0,13.000,0.003,0.033,0.015,0.40,12,thu
8674,2019-12-13,동북권,중랑구,28.0,13.000,0.005,0.046,0.004,0.60,12,fri
8682,2019-12-14,동북권,중랑구,40.0,21.000,0.005,0.028,0.012,0.60,12,sat
8715,2019-12-15,동북권,중랑구,37.0,19.000,0.005,0.036,0.008,0.70,12,sun
8741,2019-12-16,동북권,중랑구,31.0,15.000,0.003,0.037,0.006,0.60,12,mon
8770,2019-12-17,동북권,중랑구,29.0,16.000,0.002,0.035,0.007,0.70,12,tue
8777,2019-12-18,동북권,중랑구,42.0,25.000,0.003,0.028,0.010,0.70,12,wed
8807,2019-12-19,동북권,중랑구,27.0,14.000,0.003,0.024,0.015,0.50,12,thu
8846,2019-12-20,동북권,중랑구,29.0,15.000,0.003,0.029,0.012,0.60,12,fri
8870,2019-12-21,동북권,중랑구,35.0,18.000,0.003,0.041,0.004,0.70,12,sat
8894,2019-12-22,동북권,중랑구,58.0,36.000,0.003,0.035,0.010,0.70,12,sun
8921,2019-12-23,동북권,중랑구,51.0,33.000,0.002,0.035,0.012,0.80,12,mon
8947,2019-12-24,동북권,중랑구,69.0,43.000,0.002,0.035,0.010,0.80,12,tue
8961,2019-12-25,동북권,중랑구,52.0,31.000,0.002,0.042,0.006,0.90,12,wed
8994,2019-12-26,동북권,중랑구,49.0,28.000,0.003,0.034,0.012,0.60,12,thu
9001,2019-12-27,동북권,중랑구,36.0,20.000,0.003,0.029,0.017,0.60,12,fri
9045,2019-12-28,동북권,중랑구,42.0,19.000,0.003,0.040,0.006,0.60,12,sat
9066,2019-12-29,동북권,중랑구,45.0,21.000,0.003,0.028,0.014,0.60,12,sun
9084,2019-12-30,동북권,중랑구,39.0,21.000,0.002,0.034,0.011,0.60,12,mon
9120,2019-12-31,동북권,중랑구,24.0,12.000,0.003,0.017,0.020,0.40,12,tue

In [171]:
# 9월 : 7, 8
dust2019.loc[(dust2019.month == 9) & (dust2019.oz.isna()==True) , :]

,date,region,district,fine_dust,super_fine_dust,oz,co,co2,so2,month,weekday
6225,2019-09-07,서남권,영등포구,NaN,NaN,NaN,NaN,NaN,NaN,9,sat
6226,2019-09-07,동북권,도봉구,NaN,NaN,NaN,NaN,NaN,NaN,9,sat
6227,2019-09-07,서남권,관악구,NaN,NaN,NaN,NaN,NaN,NaN,9,sat
6228,2019-09-07,서남권,양천구,NaN,NaN,NaN,NaN,NaN,NaN,9,sat
6229,2019-09-07,동북권,성동구,NaN,NaN,NaN,NaN,NaN,NaN,9,sat
6230,2019-09-07,동남권,송파구,NaN,NaN,NaN,NaN,NaN,NaN,9,sat
6231,2019-09-07,동북권,광진구,NaN,NaN,NaN,NaN,NaN,NaN,9,sat
6232,2019-09-07,동북권,동대문구,NaN,NaN,NaN,NaN,NaN,NaN,9,sat
6233,2019-09-07,서남권,구로구,NaN,NaN,NaN,NaN,NaN,NaN,9,sat
6234,2019-09-07,도심권,용산구,NaN,NaN,NaN,NaN,NaN,NaN,9,sat
6235,2019-09-07,동남권,서초구,NaN,NaN,NaN,NaN,NaN,NaN,9,sat
6236,2019-09-07,동남권,강남구,NaN,NaN,NaN,NaN,NaN,NaN,9,sat
6237,2019-09-07,도심권,중구,NaN,NaN,NaN,NaN,NaN,NaN,9,sat
6238,2019-09-07,서남권,강서구,NaN,NaN,NaN,NaN,NaN,NaN,9,sat
6239,2019-09-07,서북권,마포구,NaN,NaN,NaN,NaN,NaN,NaN,9,sat
6240,2019-09-07,동남권,강동구,NaN,NaN,NaN,NaN,NaN,NaN,9,sat
6241,2019-09-07,동북권,노원구,NaN,NaN,NaN,NaN,NaN,NaN,9,sat
6242,2019-09-07,서남권,금천구,NaN,NaN,NaN,NaN,NaN,NaN,9,sat
6243,2019-09-07,서남권,동작구,NaN,NaN,NaN,NaN,NaN,NaN,9,sat
6244,2019-09-07,동북권,성북구,NaN,NaN,NaN,NaN,NaN,NaN,9,sat
6245,2019-09-07,서북권,서대문구,NaN,NaN,NaN,NaN,NaN,NaN,9,sat
6246,2019-09-07,동북권,강북구,NaN,NaN,NaN,NaN,NaN,NaN,9,sat
6247,2019-09-07,동북권,중랑구,NaN,NaN,NaN,NaN,NaN,NaN,9,sat
6248,2019-09-07,도심권,종로구,NaN,NaN,NaN,NaN,NaN,NaN,9,sat
6249,2019-09-07,서북권,은평구,NaN,NaN,NaN,NaN,NaN,NaN,9,sat
6250,2019-09-08,서남권,금천구,NaN,NaN,NaN,NaN,NaN,NaN,9,sun
6251,2019-09-08,도심권,용산구,NaN,NaN,NaN,NaN,NaN,NaN,9,sun
6252,2019-09-08,동남권,강남구,NaN,NaN,NaN,NaN,NaN,NaN,9,sun
6253,2019-09-08,서남권,양천구,NaN,NaN,NaN,NaN,NaN,NaN,9,sun
6254,2019-09-08,동남권,송파구,NaN,NaN,NaN,NaN,NaN,NaN,9,sun
6255,2019-09-08,동북권,도봉구,NaN,NaN,NaN,NaN,NaN,NaN,9,sun
6256,2019-09-08,서남권,영등포구,NaN,NaN,NaN,NaN,NaN,NaN,9,sun
6257,2019-09-08,서남권,구로구,NaN,NaN,NaN,NaN,NaN,NaN,9,sun
6258,2019-09-08,서남권,강서구,NaN,NaN,NaN,NaN,NaN,NaN,9,sun
6259,2019-09-08,동남권,강동구,NaN,NaN,NaN,NaN,NaN,NaN,9,sun
6260,2019-09-08,동남권,서초구,NaN,NaN,NaN,NaN,NaN,NaN,9,sun
6261,2019-09-08,동북권,강북구,NaN,NaN,NaN,NaN,NaN,NaN,9,sun
6262,2019-09-08,동북권,광진구,NaN,NaN,NaN,NaN,NaN,NaN,9,sun
6263,2019-09-08,동북권,중랑구,NaN,NaN,NaN,NaN,NaN,NaN,9,sun
6264,2019-09-08,동북권,성동구,NaN,NaN,NaN,NaN,NaN,NaN,9,sun
6265,2019-09-08,동북권,노원구,NaN,NaN,NaN,NaN,NaN,NaN,9,sun
6266,2019-09-08,서남권,동작구,NaN,NaN,NaN,NaN,NaN,NaN,9,sun
6267,2019-09-08,서북권,은평구,NaN,NaN,NaN,NaN,NaN,NaN,9,sun
6268,2019-09-08,동북권,성북구,NaN,NaN,NaN,NaN,NaN,NaN,9,sun
6269,2019-09-08,서남권,관악구,NaN,NaN,NaN,NaN,NaN,NaN,9,sun
6270,2019-09-08,도심권,종로구,NaN,NaN,NaN,NaN,NaN,NaN,9,sun
6271,2019-09-08,서북권,마포구,NaN,NaN,NaN,NaN,NaN,NaN,9,sun
6272,2019-09-08,동북권,동대문구,NaN,NaN,NaN,NaN,NaN,NaN,9,sun
6273,2019-09-08,도심권,중구,NaN,NaN,NaN,NaN,NaN,NaN,9,sun
6274,2019-09-08,서북권,서대문구,NaN,NaN,NaN,NaN,NaN,NaN,9,sun

In [172]:
dust2019.iloc[6200:6224,:]

,date,region,district,fine_dust,super_fine_dust,oz,co,co2,so2,month,weekday
6200,2019-09-06,서북권,서대문구,11.0,3.0,0.002,0.009,0.016,0.5,9,fri
6201,2019-09-06,서남권,구로구,14.0,8.0,0.005,0.021,0.012,0.3,9,fri
6202,2019-09-06,서남권,양천구,17.0,10.0,0.004,0.028,0.010,0.4,9,fri
6203,2019-09-06,서남권,금천구,15.0,9.0,0.003,0.022,0.009,0.4,9,fri
6204,2019-09-06,서남권,동작구,23.0,10.0,0.003,0.025,0.012,0.3,9,fri
6205,2019-09-06,서남권,관악구,0.0,0.0,0.000,0.000,0.000,0.0,9,fri
6206,2019-09-06,서남권,강서구,15.0,10.0,0.003,0.025,0.009,0.4,9,fri
6207,2019-09-06,동북권,노원구,17.0,9.0,0.004,0.017,0.009,0.3,9,fri
6208,2019-09-06,동남권,강남구,0.0,0.0,0.000,0.000,0.000,0.0,9,fri
6209,2019-09-06,동북권,도봉구,11.0,5.0,0.004,0.010,0.011,0.4,9,fri
6210,2019-09-06,서남권,영등포구,17.0,11.0,0.003,0.033,0.010,0.4,9,fri
6211,2019-09-06,동남권,강동구,12.0,7.0,0.003,0.018,0.013,0.3,9,fri
6212,2019-09-06,동북권,중랑구,10.0,7.0,0.005,0.013,0.011,0.3,9,fri
6213,2019-09-06,서북권,마포구,11.0,9.0,0.004,0.013,0.015,0.5,9,fri
6214,2019-09-06,서북권,은평구,15.0,11.0,0.004,0.015,0.015,0.4,9,fri
6215,2019-09-06,도심권,용산구,10.0,7.0,0.003,0.021,0.010,0.3,9,fri
6216,2019-09-06,도심권,종로구,13.0,8.0,0.003,0.022,0.010,0.5,9,fri
6217,2019-09-06,도심권,중구,13.0,8.0,0.003,0.027,0.010,0.2,9,fri
6218,2019-09-06,동북권,성북구,17.0,5.0,0.003,0.021,0.009,0.6,9,fri
6219,2019-09-06,동북권,성동구,17.0,4.0,0.006,0.020,0.013,0.3,9,fri
6220,2019-09-06,동북권,동대문구,10.0,7.0,0.004,0.021,0.009,0.4,9,fri
6221,2019-09-06,동남권,송파구,13.0,5.0,0.003,0.024,0.009,0.4,9,fri
6222,2019-09-06,동북권,강북구,20.0,8.0,0.002,0.011,0.011,0.3,9,fri
6223,2019-09-06,동북권,광진구,15.0,11.0,0.003,0.016,0.011,0.5,9,fri

In [173]:
dust2019.iloc[6275:6300,:]

,date,region,district,fine_dust,super_fine_dust,oz,co,co2,so2,month,weekday
6275,2019-09-09,도심권,중구,37.0,25.0,0.003,0.038,0.013,0.2,9,mon
6276,2019-09-09,서남권,양천구,46.0,31.0,0.004,0.032,0.022,0.6,9,mon
6277,2019-09-09,동남권,송파구,33.0,22.0,0.003,0.031,0.014,0.6,9,mon
6278,2019-09-09,동남권,서초구,34.0,26.0,0.003,0.033,0.018,0.5,9,mon
6279,2019-09-09,동북권,노원구,38.0,30.0,0.004,0.021,0.014,0.5,9,mon
6280,2019-09-09,서남권,금천구,16.0,22.0,0.003,0.026,0.014,0.3,9,mon
6281,2019-09-09,서남권,강서구,44.0,32.0,0.004,0.030,0.019,0.6,9,mon
6282,2019-09-09,서남권,구로구,36.0,26.0,0.005,0.025,0.017,0.4,9,mon
6283,2019-09-09,동남권,강남구,20.0,11.0,0.000,0.000,0.000,0.0,9,mon
6284,2019-09-09,동남권,강동구,35.0,28.0,0.003,0.022,0.019,0.5,9,mon
6285,2019-09-09,서남권,관악구,0.0,0.0,0.000,0.000,0.000,0.0,9,mon
6286,2019-09-09,서남권,영등포구,38.0,28.0,0.003,0.036,0.019,0.4,9,mon
6287,2019-09-09,동북권,도봉구,30.0,20.0,0.004,0.013,0.021,0.5,9,mon
6288,2019-09-09,서북권,서대문구,33.0,17.0,0.003,0.019,0.019,0.8,9,mon
6289,2019-09-09,도심권,종로구,35.0,26.0,0.003,0.030,0.015,0.6,9,mon
6290,2019-09-09,도심권,용산구,31.0,27.0,0.003,0.029,0.014,0.6,9,mon
6291,2019-09-09,서북권,은평구,33.0,24.0,0.004,0.025,0.021,0.6,9,mon
6292,2019-09-09,동북권,성북구,37.0,21.0,0.003,0.026,0.017,0.8,9,mon
6293,2019-09-09,동북권,성동구,39.0,24.0,0.003,0.029,0.027,0.6,9,mon
6294,2019-09-09,서남권,동작구,64.0,28.0,0.003,0.031,0.014,0.6,9,mon
6295,2019-09-09,동북권,동대문구,32.0,26.0,0.004,0.027,0.016,1.0,9,mon
6296,2019-09-09,동북권,광진구,43.0,27.0,0.004,0.023,0.017,0.7,9,mon
6297,2019-09-09,동북권,강북구,50.0,29.0,0.002,0.016,0.014,0.5,9,mon
6298,2019-09-09,서북권,마포구,35.0,25.0,0.004,0.016,0.020,0.7,9,mon
6299,2019-09-09,동북권,중랑구,34.0,23.0,0.005,0.015,0.019,0.5,9,mon

In [174]:
# 나머지 결측치는 0으로 채우기 (why? 기존 데이터에서도 0으로 측정된 구간이 많은 것을 확인 -- 결측 때 0인 경우가 많음. 따라서 0을 채우기로 결정)
# 3월 : 9, 10, 11, 12, 13, 16, 17
# 9월 : 7, 8  
dust2019 = dust2019.fillna(0)

In [175]:
dust2019.isna().sum()

date               0
region             0
district           0
fine_dust          0
super_fine_dust    0
oz                 0
co                 0
co2                0
so2                0
month              0
weekday            0
dtype: int64

In [176]:
# 2018년 결측치 채우기
df2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7625 entries, 0 to 7624
Data columns (total 9 columns):
date               7625 non-null datetime64[ns]
region             7625 non-null object
district           7625 non-null object
fine_dust          7625 non-null int64
super_fine_dust    7625 non-null int64
oz                 7625 non-null float64
co                 7625 non-null float64
co2                7625 non-null float64
so2                7625 non-null float64
dtypes: datetime64[ns](1), float64(4), int64(2), object(2)
memory usage: 536.3+ KB

In [177]:
7625 / 25 # -- 60일 데이터 부족

305.0

In [178]:
# ### 2018년
# - 2월 : 17
# - 3월 : 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31
# - 4월 : 1, 2, 3, 4, 5, 6, 7, 8, 20
# - 5월 : 18, 19, 22, 23, 24, 25, 26, 29, 30, 31
# - 6월 : 3, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 23, 24, 25, 27, 28, 29
# - 7월 : 4, 5, 14, 15
# - 11월 : 17, 18

In [179]:
1+11+9+10+23+4+2 # --> 총 결측 날짜 60일으로 서울시 구별로는 결측 데이터가 없고, 날짜만 있다는 것을 확인

60

In [180]:
dust2018 = df2018.copy()

In [181]:
# 2월 17일 결측치 채우기
l1 = ["20180217"] * 25

# region column -- 서남권, 동남권....
d1 = dust2018.iloc[:25,1:2]
l2 = [d1.region[i] for i in range(25)]


# date column -- 구
d2 = dust2018.iloc[:25,2:3]
l3 = [d2.district[i] for i in range(25)]

In [182]:
temp2_17 = pd.DataFrame([l1,l2,l3]).T
temp2_17.columns = ['date', 'region', 'district']

temp2_17.date = pd.to_datetime(temp2_17.date)

dust2018 = dust2018.append(temp2_17, ignore_index=True)
dust2018 = dust2018.sort_values('date').reset_index(drop = True)
dust2018 = dust2018.reindex(columns = ["date", 'region', 'district', 'fine_dust','super_fine_dust', 'oz', 'co', 'co2', 'so2'])

In [184]:
# date column -- 3월 : 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31
l1 = []
for i in range(21,32):
    if i <= 9:
        l1.extend(["2018030{}".format(i)] * 25)
    else:
        l1.extend(["201803{}".format(i)] * 25)
    

# region column -- 서남권, 동남권....
d1 = dust2018.iloc[:25,1:2]
l2 = [d1.region[i] for i in range(25)]
l2 = l2 * 11


# date column -- 구
d2 = dust2018.iloc[:25,2:3]
l3 = [d2.district[i] for i in range(25)] 
l3 = l3 * 11

In [185]:
temp3 = pd.DataFrame([l1,l2,l3]).T
temp3.columns = ['date', 'region', 'district']

temp3.date = pd.to_datetime(temp3.date)

dust2018 = dust2018.append(temp3, ignore_index=True)
dust2018 = dust2018.sort_values('date').reset_index(drop = True)
dust2018 = dust2018.reindex(columns = ["date", 'region', 'district', 'fine_dust','super_fine_dust', 'oz', 'co', 'co2', 'so2'])

In [206]:
# - 4월 : 1, 2, 3, 4, 5, 6, 7, 8, 20
april = [1, 2, 3, 4, 5, 6, 7, 8, 20]
len(april)

9

In [187]:
# date column -- 4월 : 1, 2, 3, 4, 5, 6, 7, 8
l1 = []
for i in april:
    if i <= 9:
        l1.extend(["2018040{}".format(i)] * 25)
    else:
        l1.extend(["201804{}".format(i)] * 25)
    

# region column -- 서남권, 동남권....
d1 = dust2018.iloc[:25,1:2]
l2 = [d1.region[i] for i in range(25)]
l2 = l2 * len(april)


# date column -- 구
d2 = dust2018.iloc[:25,2:3]
l3 = [d2.district[i] for i in range(25)] 
l3 = l3 * len(april)

In [188]:
temp4 = pd.DataFrame([l1,l2,l3]).T
temp4.columns = ['date', 'region', 'district']

temp4.date = pd.to_datetime(temp4.date)

dust2018 = dust2018.append(temp4, ignore_index=True)
dust2018 = dust2018.sort_values('date').reset_index(drop = True)
dust2018 = dust2018.reindex(columns = ["date", 'region', 'district', 'fine_dust','super_fine_dust', 'oz', 'co', 'co2', 'so2'])

In [192]:
# 5월 : 18, 19, 22, 23, 24, 25, 26, 29, 30, 31
may = [18, 19, 22, 23, 24, 25, 26, 29, 30, 31]
len(may)

10

In [193]:
l1 = []
for i in may:
    if i <= 9:
        l1.extend(["2018050{}".format(i)] * 25)
    else:
        l1.extend(["201805{}".format(i)] * 25)
    

# region column -- 서남권, 동남권....
d1 = dust2018.iloc[:25,1:2]
l2 = [d1.region[i] for i in range(25)]
l2 = l2 * len(may)


# date column -- 구
d2 = dust2018.iloc[:25,2:3]
l3 = [d2.district[i] for i in range(25)] 
l3 = l3 * len(may)

In [194]:
temp5 = pd.DataFrame([l1,l2,l3]).T
temp5.columns = ['date', 'region', 'district']

temp5.date = pd.to_datetime(temp5.date)

dust2018 = dust2018.append(temp5, ignore_index=True)
dust2018 = dust2018.sort_values('date').reset_index(drop = True)
dust2018 = dust2018.reindex(columns = ["date", 'region', 'district', 'fine_dust','super_fine_dust', 'oz', 'co', 'co2', 'so2'])

In [196]:
# - 6월 : 3, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 23, 24, 25, 27, 28, 29
june = [3, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 23, 24, 25, 27, 28, 29]
len(june)

23

In [197]:
l1 = []
for i in june:
    if i <= 9:
        l1.extend(["2018060{}".format(i)] * 25)
    else:
        l1.extend(["201806{}".format(i)] * 25)
    

# region column -- 서남권, 동남권....
d1 = dust2018.iloc[:25,1:2]
l2 = [d1.region[i] for i in range(25)]
l2 = l2 * len(june)


# date column -- 구
d2 = dust2018.iloc[:25,2:3]
l3 = [d2.district[i] for i in range(25)] 
l3 = l3 * len(june)

In [198]:
temp6 = pd.DataFrame([l1,l2,l3]).T
temp6.columns = ['date', 'region', 'district']

temp6.date = pd.to_datetime(temp6.date)

dust2018 = dust2018.append(temp6, ignore_index=True)
dust2018 = dust2018.sort_values('date').reset_index(drop = True)
dust2018 = dust2018.reindex(columns = ["date", 'region', 'district', 'fine_dust','super_fine_dust', 'oz', 'co', 'co2', 'so2'])

In [200]:
# - 7월 : 4, 5, 14, 15
july = [4, 5, 14, 15]
len(july)

4

In [201]:
# - 7월 : 4, 5, 14, 15
l1 = []
for i in july:
    if i <= 9:
        l1.extend(["2018070{}".format(i)] * 25)
    else:
        l1.extend(["201807{}".format(i)] * 25)
    

# region column -- 서남권, 동남권....
d1 = dust2018.iloc[:25,1:2]
l2 = [d1.region[i] for i in range(25)]
l2 = l2 * len(july)


# date column -- 구
d2 = dust2018.iloc[:25,2:3]
l3 = [d2.district[i] for i in range(25)] 
l3 = l3 * len(july)

In [202]:
temp7 = pd.DataFrame([l1,l2,l3]).T
temp7.columns = ['date', 'region', 'district']

temp7.date = pd.to_datetime(temp7.date)

dust2018 = dust2018.append(temp7, ignore_index=True)
dust2018 = dust2018.sort_values('date').reset_index(drop = True)
dust2018 = dust2018.reindex(columns = ["date", 'region', 'district', 'fine_dust','super_fine_dust', 'oz', 'co', 'co2', 'so2'])

In [203]:
# - 11월 : 17, 18
l1 = []
for i in range(17,19):
    if i <= 9:
        l1.extend(["2018110{}".format(i)] * 25)
    else:
        l1.extend(["201811{}".format(i)] * 25)
    

# region column -- 서남권, 동남권....
d1 = dust2018.iloc[:25,1:2]
l2 = [d1.region[i] for i in range(25)]
l2 = l2 * 2


# date column -- 구
d2 = dust2018.iloc[:25,2:3]
l3 = [d2.district[i] for i in range(25)] 
l3 = l3 * 2

In [204]:
temp11 = pd.DataFrame([l1,l2,l3]).T
temp11.columns = ['date', 'region', 'district']

temp11.date = pd.to_datetime(temp11.date)

dust2018 = dust2018.append(temp11, ignore_index=True)
dust2018 = dust2018.sort_values('date').reset_index(drop = True)
dust2018 = dust2018.reindex(columns = ["date", 'region', 'district', 'fine_dust','super_fine_dust', 'oz', 'co', 'co2', 'so2'])

In [205]:
dust2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9125 entries, 0 to 9124
Data columns (total 9 columns):
date               9125 non-null datetime64[ns]
region             9125 non-null object
district           9125 non-null object
fine_dust          7625 non-null float64
super_fine_dust    7625 non-null float64
oz                 7625 non-null float64
co                 7625 non-null float64
co2                7625 non-null float64
so2                7625 non-null float64
dtypes: datetime64[ns](1), float64(6), object(2)
memory usage: 641.7+ KB

In [207]:
# dust2018_raw 파일 보관하기
dust2018_raw = dust2018.copy()

In [208]:
# 2018년 결측치 모두 0 으로 채우기
dust2018 = dust2018.fillna(0)

In [209]:
dust2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9125 entries, 0 to 9124
Data columns (total 9 columns):
date               9125 non-null datetime64[ns]
region             9125 non-null object
district           9125 non-null object
fine_dust          9125 non-null float64
super_fine_dust    9125 non-null float64
oz                 9125 non-null float64
co                 9125 non-null float64
co2                9125 non-null float64
so2                9125 non-null float64
dtypes: datetime64[ns](1), float64(6), object(2)
memory usage: 641.7+ KB

In [210]:
## 2016~2019년 데이터 확인
dust2019.info()
print("==========================================================")
dust2018.info()
print("==========================================================")
dust2017.info()
print("==========================================================")
dust2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9125 entries, 0 to 9124
Data columns (total 11 columns):
date               9125 non-null datetime64[ns]
region             9125 non-null object
district           9125 non-null object
fine_dust          9125 non-null float64
super_fine_dust    9125 non-null float64
oz                 9125 non-null float64
co                 9125 non-null float64
co2                9125 non-null float64
so2                9125 non-null float64
month              9125 non-null int64
weekday            9125 non-null object
dtypes: datetime64[ns](1), float64(6), int64(1), object(3)
memory usage: 784.3+ KB
==========================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9125 entries, 0 to 9124
Data columns (total 9 columns):
date               9125 non-null datetime64[ns]
region             9125 non-null object
district           9125 non-null object
fine_dust          9125 non-null float64
super_fine_dust    9125 non-null float64
oz                 9125 non-null float64
co                 9125 non-null float64
co2                9125 non-null float64
so2                9125 non-null float64
dtypes: datetime64[ns](1), float64(6), object(2)
memory usage: 641.7+ KB
==========================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9125 entries, 0 to 9124
Data columns (total 9 columns):
date               9125 non-null datetime64[ns]
region             9125 non-null object
district           9125 non-null object
fine_dust          9125 non-null int64
super_fine_dust    9125 non-null int64
oz                 9125 non-null float64
co                 9125 non-null float64
co2                9125 non-null float64
so2                9125 non-null float64
dtypes: datetime64[ns](1), float64(4), int64(2), object(2)
memory usage: 641.7+ KB
==========================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9150 entries, 0 to 9149
Data columns (total 9 columns):
date               9150 non-null datetime64[ns]
region             9150 non-null object
district           9150 non-null object
fine_dust          9150 non-null float64
super_fine_dust    9150 non-null float64
oz                 9150 non-null float64
co                 9150 non-null float64
co2                9150 non-null float64
so2                9150 non-null float64
dtypes: datetime64[ns](1), float64(6), object(2)
memory usage: 643.5+ KB

In [ ]:
## 모든 연도의 날짜, 구별 데이터 입력, 결측치 값 대체

In [ ]:
## 모든 데이터 프레임에 월, 요일, 날짜 컬럼 추가

In [211]:
#dt.weekday() # 0:월, 1:화, 2:수, 3:목, 4:금, 5:토, 6:일
dust2018.date.dt.weekday.unique()
dust2018.date.dt.month
dust2018.date.dt.day
dust2018.head(2)

,date,region,district,fine_dust,super_fine_dust,oz,co,co2,so2
0,2018-01-01,도심권,중구,32.0,18.0,0.015,0.5,0.028,0.005
1,2018-01-01,동남권,송파구,52.0,23.0,0.013,0.7,0.028,0.004

In [212]:
#dust2019는 위에서 월과 요일 변수를 추가했었기 때문에 일만 추가
dust2019['day'] = dust2019.date.dt.day

In [215]:
weekday2018 = np.where(dust2018.date.dt.weekday==0,'mon',
                    np.where(dust2018.date.dt.weekday==1,'tue',
                            np.where(dust2018.date.dt.weekday==2,'wed',
                                    np.where(dust2018.date.dt.weekday==3,'thu',
                                            np.where(dust2018.date.dt.weekday==4,'fri',
                                                    np.where(dust2018.date.dt.weekday==5,'sat','sun'))))))

In [216]:
dust2018['month'] = dust2018.date.dt.month
dust2018['day'] = dust2018.date.dt.day
dust2018['weekday'] = weekday2018

In [218]:
weekday2017 = np.where(dust2017.date.dt.weekday==0,'mon',
                    np.where(dust2017.date.dt.weekday==1,'tue',
                            np.where(dust2017.date.dt.weekday==2,'wed',
                                    np.where(dust2017.date.dt.weekday==3,'thu',
                                            np.where(dust2017.date.dt.weekday==4,'fri',
                                                    np.where(dust2017.date.dt.weekday==5,'sat','sun'))))))

In [219]:
dust2017['month'] = dust2017.date.dt.month
dust2017['day'] = dust2017.date.dt.day
dust2017['weekday'] = weekday2017

In [220]:
weekday2016 = np.where(dust2016.date.dt.weekday==0,'mon',
                    np.where(dust2016.date.dt.weekday==1,'tue',
                            np.where(dust2016.date.dt.weekday==2,'wed',
                                    np.where(dust2016.date.dt.weekday==3,'thu',
                                            np.where(dust2016.date.dt.weekday==4,'fri',
                                                    np.where(dust2016.date.dt.weekday==5,'sat','sun'))))))

In [221]:
dust2016['month'] = dust2016.date.dt.month
dust2016['day'] = dust2016.date.dt.day
dust2016['weekday'] = weekday2016

In [222]:
dust2019.info()
print("==========================================================")
dust2018.info()
print("==========================================================")
dust2017.info()
print("==========================================================")
dust2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9125 entries, 0 to 9124
Data columns (total 12 columns):
date               9125 non-null datetime64[ns]
region             9125 non-null object
district           9125 non-null object
fine_dust          9125 non-null float64
super_fine_dust    9125 non-null float64
oz                 9125 non-null float64
co                 9125 non-null float64
co2                9125 non-null float64
so2                9125 non-null float64
month              9125 non-null int64
weekday            9125 non-null object
day                9125 non-null int64
dtypes: datetime64[ns](1), float64(6), int64(2), object(3)
memory usage: 855.6+ KB
==========================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9125 entries, 0 to 9124
Data columns (total 12 columns):
date               9125 non-null datetime64[ns]
region             9125 non-null object
district           9125 non-null object
fine_dust          9125 non-null float64
super_fine_dust    9125 non-null float64
oz                 9125 non-null float64
co                 9125 non-null float64
co2                9125 non-null float64
so2                9125 non-null float64
month              9125 non-null int64
day                9125 non-null int64
weekday            9125 non-null object
dtypes: datetime64[ns](1), float64(6), int64(2), object(3)
memory usage: 855.6+ KB
==========================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9125 entries, 0 to 9124
Data columns (total 12 columns):
date               9125 non-null datetime64[ns]
region             9125 non-null object
district           9125 non-null object
fine_dust          9125 non-null int64
super_fine_dust    9125 non-null int64
oz                 9125 non-null float64
co                 9125 non-null float64
co2                9125 non-null float64
so2                9125 non-null float64
month              9125 non-null int64
day                9125 non-null int64
weekday            9125 non-null object
dtypes: datetime64[ns](1), float64(4), int64(4), object(3)
memory usage: 855.6+ KB
==========================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9150 entries, 0 to 9149
Data columns (total 12 columns):
date               9150 non-null datetime64[ns]
region             9150 non-null object
district           9150 non-null object
fine_dust          9150 non-null float64
super_fine_dust    9150 non-null float64
oz                 9150 non-null float64
co                 9150 non-null float64
co2                9150 non-null float64
so2                9150 non-null float64
month              9150 non-null int64
day                9150 non-null int64
weekday            9150 non-null object
dtypes: datetime64[ns](1), float64(6), int64(2), object(3)
memory usage: 857.9+ KB

In [511]:
# csv 파일로 저장
dust2019.to_csv("dust2019.csv", index = False)
dust2018.to_csv("dust2018.csv", index = False)
dust2017.to_csv("dust2017.csv", index = False)
dust2016.to_csv("dust2016.csv", index = False)

In [ ]:
#참고 코드

# 9월 7일 데이터 프레임 생성
# d1 = dust2019.iloc[:25,:3]
# a = d1['date'].astype('str')
# d1['date'] = [a[i].replace("-","") for i in range(d1.date.size)]
# d1['date'] = d1.date.apply(lambda x: x.replace("20190101", "20190907"))
# d1['date'] = pd.to_datetime(d1.date)

#--------------------------------------

# a = pd.Series([20190906, 20190907, 20190908])
# a = a.astype('str')
# a = pd.to_datetime(a)
# a

#---------------------------------------

# fruit_list = [ ('Orange', 34, 'Yes' )]
# #Create a DataFrame object
# df = pd.DataFrame(fruit_list, columns = ['Name' , 'Price', 'Stock'])